.Table{
    max-width: 100vw;
    width: 90vw;
    color: #212121;
    font-size: 13px;
    max-height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.displayTable {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
    width:100%;
    margin:0 auto;
  }
  thead{
    color: #707070;
  }
  th{
    cursor: pointer;
  }
  tbody{
    font-weight: bold;
  }

tr{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
}

.displayTable th,
.displayTable td {
  width: auto;
  padding: 8px 16px;
  border: 1px solid #e8e0e0;
  border-bottom: 0px solid #EAEAEA;
  border-left: none;
  border-right: none;
  border-top-width: 100%;
  border-right-width: 100%;
}

.displayTable tbody tr:last-child td {
  border-bottom: none;
}
.displayTable thead :first-child tr {
  border-bottom: none;
}

.Column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.Table::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.Table::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the thumb (scrollable area) */
  border-radius: 4px; /* Rounded corners of the thumb */
}

.Table::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track (non-scrollable area) */
}