.dimension_Metric{
    height: 88%;
    margin: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    padding: 0px 10px;
    padding-top: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-bottom: 0%;
    padding: 2px;
    margin-top: 10px;
}

.sub_container{
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #EAEAEA;
    opacity: 1;
    width: 11.2%;
    margin-bottom: 0px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}
.sub_container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background-color: #136FED;
}

.sub_container.clicked{
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #EAEAEA;
    width: 11%;
    margin-bottom: 0px;
    border-radius: 2px;
}
.sub_container.clicked::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background-color: transparent;
}


.submitVisiblility{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    height: 20%;
    padding-bottom: 20px;
}
.submit{
    display: flex;
    height: 100%;
    width: 110px;
    background-color: #136FED;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}
.close{
    display: flex;
    height: 100%;
    width: 55px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    color: #136FED;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    cursor: pointer;
}