.App{
    height: 100vh;
    width: 100vw;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
}

.left{
    width: 4%;
    height: 100vh;
    background-color: #192F48;
}
.right{
    width: 96%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right_top{
    height: 30%;
}
.right_bottom{
    height: 60%;
}

